<div th:fragment = "insertModal" class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Ticket Request</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form class="was-validated">
                            <div class="form-group">
                                <label for="formGroupInputNama">Requester Name</label>
                                <input type="text" class="form-control" id="formGroupInputName" placeholder="Requester Name ...">
                            </div>
                            <div class="form-group">
                                <label for="formGroupInputEmail">Email</label>
                                <input type="text" class="form-control" id="formExampleInputEmail" placeholder="Email ...">
                            </div>
                            <div class="mb-3">
                                <select class="custom-select custom-select-lg mb-3">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" required aria-label="select example">
                                    <option value="">Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <div class="invalid-feedback">Example invalid select feedback</div>
                            </div>
                            <div class="mb-3">
                                <label for="validationTextarea" class="form-label">Description</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required description in textarea ..." required></textarea>
                                <div class="invalid-feedback">
                                    Please enter a message in the textarea.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2">File</label>
                                <input type="file" class="form-control" aria-label="file example">
                                <div class="invalid-feedback">Example invalid form file feedback</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary">Submit</a>
                        <!--<a class="btn btn-primary" href="#">Submit</a>-->
                    </div>
                </div>
            </div>
        </div>