<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:insert="component/head.html :: head">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-16 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="d-flex justify-content-center">
                                <div class="p-3">
                                    <div class="text-center">
                                        <h1 class="h5 text-gray-800 mb-5">Welcome Back!</h1>
                                    </div>
                                    <form class="user" role="form" th:action="@{/loginpage}" th:object="${employee}" method="post">
                                        <fieldset>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" name="email" aria-describedby="emailHelp"
                                                   placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" name="password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                            <button type="submit">
                                                Login
                                            </button>
<!--                                        <a href="/" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a>-->
                                        </fieldset>
                                    </form>
                                     <!-- <form  class="user" role="form" th:action="@{/loginpage}" th:object="${employee}" method="post">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="username">Username</label>: 
                                                <input type="text" id="email" name="email" class="form-control" autofocus="autofocus" placeholder="username" />
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>: 
                                                <input type="password" id="password" name="password" class="form-control" placeholder="password" />
                                            </div>
                                            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                                        </fieldset>
                                    </form>         -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="component/foot.html :: foot"></div>
    </body>
</html>

